snippet dti
`!v strftime("%Y-%m-%d")`
===

## DONE

## 待确认

## Doning

## TODO

${1}
endsnippet

snippet test

Ok, You Got it

endsnippet


snippet daew
`!v strftime("%Y年%m月第1周周报")`
===

${1} 到 ${2}

## 上周工作

## 本周工作

endsnippet

